<div class="container-lg d-flex align-items-center justify-content-between p-4">
    <p id="footer-notice">&copy; Community Green ${year}.  All rights reserved.</p>
    <div class="d-flex">	
        <p class="ms-3"><a class="link-dark" href="#"><i class="bi bi-instagram fs-3"></i></a></p>
        <p class="ms-3"><a class="link-dark" href="#"><i class="bi bi-facebook fs-3"></i></a></p>	
        <p class="ms-3"><a class="link-dark" href="#"><i class="bi bi-youtube fs-3"></i></a></p>
    </div>
</div>