@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
/* css custom properties */
:root {   
 --my-brand-color: #76B041;   
 --my-special-btn-color: #4F5D2F;
 --my-special-search-btn-background-color:#CFD6EA;   
    --my-accent-color-light: #B0B2B8;
    --my-accent-color-dark: #423629;
 /*--bs-dark-rgb: 25,135,84 !important; */

}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Playfair+Display:wght@700&display=swap');
</style>

.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0,0,0,0);
    position: relative;
    overflow: hidden
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: var(--my-brand-color);
    height: 3px;
    -webkit-transition-property: left,right;
    transition-property: left,right;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.hvr-underline-from-center:active:before,.hvr-underline-from-center:focus:before,.hvr-underline-from-center:hover:before {
    left: 0;
    right: 0
}

/* important: change this value to the computed height of your nav with your desired logo in it*/
header {
height: 56px;  
}

p,a{
font-family: 'Libre Baskerville', serif;
    color: var(--my-accent-color-dark);    
    
}
h1{
font-family: 'Playfair Display', serif;
    font-weight: 700;
}

h2{
font-family: 'Playfair Display', serif;
    font-weight: 600;
    color: var(--my-special-btn-color);
}

h4{
font-family: 'Playfair Display', serif;
    font-weight: 500;
    color: var(--my-special-btn-color);
}

.my-light-navbar {
    background:#fff;
}
nav[data-bs-theme="dark"]{
  background:var(--my-brand-color); 
}

.btn-outline-success {
    color:var(--my-special-btn-color);
    background: var(--my-special-search-btn-background-color);
    border-color: var(--my-special-btn-color);
}
.btn-outline-success:hover{
   background:var(--my-special-btn-color);
 color: var(--my-special-search-btn-background-color);
    color:var();
}

.btn-primary {
    background:var( --my-brand-color);
    border:var(--my-brand-color);
    color:ivory;
}
.btn-primary:hover, .btn-primary:first-child:active{
    background:var(--my-accent-color-light);
    color:var(--my-special-btn-color);
}

.btn-primary:focus {
     background:var(--bs-teal);
    border:var(--my-brand-color);
    box-shadow: 0 0 0 .25rem rgba(25,135,84,.5);
        color:var(--my-special-btn-color);
}


a.active {
  border: 1px solid var(--my-brand-color) ;
    border-radius: 4px;
}

h1 {
  	color:var(--my-brand-color);  
}
footer i {
	color:var(--my-brand-color);
} 

/*
.homehero {
    background-image: url(../images/hero.jpg);
    
}
.homehero .row {
  height: 800px;
  color: white;
}
*/
.homehero {
  background-image: url(../images/homehero.jpg);
  background-size: cover;
  background-position: center;
    height: 50vh;
}

.teaser {
  background-color: rgba(0.6, 000, 000, 0.6);
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

.rowsection {
    flex: auto;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

.rowsectionblock{
    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    margin: 0px 15px;
    align-content: flex-start;
    text-align: left;
    vertical-align: top;
    min-width: 250px;
}

.rowsectionspace {
    display: none;
    flex-wrap: wrap;
    padding: 0px;
    margin: 0px;
    align-content: flex-start;
}
@media (min-width: 575px) {
    .rowsectionspace {
        display: flex;
        min-width: 0px;
    }
}

.vhauto {
    height: auto;
}
.vh10 {
    height: 10vh;
}
.vh15 {
    height: 15vh;
}
.vh20 {
    height: 20vh;
}
.vh25 {
    height: 25vh;
}
.vh30 {
    height: 30vh;
}
.vh35 {
    height: 35vh;
}
.vh40 {
    height: 40vh;
}
.vh45 {
    height: 45vh;
}
.vh50 {
    height: 50vh;
}
.vh100 {
    height: 100vh;
}

.colspan1 {
    flex: 1;
}
.colspan2 {
    flex: 2;
}
.colspan3 {
    flex: 3;
}
.colspan4 {
    flex: 4;
}
.colspan5 {
    flex: 5;
}
.colspan6 {
    flex: 6;
}
.colspan7 {
    flex: 7;
}
.colspan8 {
    flex: 8;
}
.colspan9 {
    flex: 9;
}

.rowsectiontitle{
   background-color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    text-align: left;
}

.rowsectionleft {
    text-align: left;
}

.heroimg {
  background-image: url(../images/hero.jpg);
  background-size: cover;
  background-position: center;
    height: 40vh;
}

.eventheroimg {
  background-image: url(../images/eventshero.jpg);
  background-size: cover;
  background-position: center;
    height: 40vh;
}

.resourcesheroimg {
  background-image: url(../images/resourceshero.jpg);
  background-size: cover;
  background-position: center;
    height: 40vh;
}

.faqheroimg {
  background-image: url(../images/faq.jpg);
  background-size: cover;
  background-position: center;
    height: 40vh;
}

.aboutheroimg {
  background-image: url(../images/abouthero.jpg);
  background-size: cover;
  background-position: center;
    height: 40vh;
}

.contactheroimg {
  background-image: url(../images/contact.jpg);
  background-size: cover;
  background-position: center;
    height: 40vh;
}

.pagetitle {
    color: white;
}

.eventimgs {
    object-fit: cover;
    object-position: center;
/*    max-height:100%;*/
    max-width: 100%;
}

.green {
 color:var(--my-brand-color);
}